
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

    /*Header qismi*/

header{
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 10px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: #fff;
}
.container{
    margin: 0 auto;
    width: 70%;
}
.mather_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin: 20px 0px;
}
.logo{
    width: 30%;
}

nav{
    width:50% ;
}
nav > ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav > ul > li{
    list-style: none;
    padding: 10px 5px;
    transition: .5s ease;

    
}
nav > ul > li:hover{
    cursor: pointer;
    border-bottom: 3px solid #000;

}
nav > ul > li:active  {
    background:linear-gradient(#555,#000);
    border-radius: 5px;
    
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}
nav > ul > li:active a{
    color: #fff;
}



.btn{
    width: 159px;
    background:#00BAFC;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px ;
}
.btn > a{
    text-decoration: none;
    color: #fff;
}
.btn:hover{
    background: #fff;
    border: 2px solid #00BAFC;
    
}
.btn:hover a{
    color: #00BAFC;
}
.btn:active{
    background:#c0e3f0;
    border: none;
}
.btn:active a{
    color: #fff;
}
/*Main qismi */

section{
    width: 100%;
}
.mather_div-2{
    display: flex;
    justify-content: space-between;
}
.mather_div-2 > .box-1{
    width: 50%;
    margin-top: 100px;

}
.box-1 > h1{
    font-size: 30px;
}
.box-1 > h4{
    color: #777;
    margin: 20px 0px;
    font-family: 'open sans';
}
.box-1 > button{
    width: 259px;
    background:#00BAFC;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px ;
    border: none;
    color: #fff;
}
.box-1 > button:hover{
    background: #fff;
    border: 2px solid #00BAFC;
    color: #00BAFC;

}
.box-1 > button:active{
    background:#8ed7f1;
    border: none;
    color: #fff;
}

.box-2 {
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.box-2 > iframe{
    margin-top: 100px;
    border-radius: 10px;
}
section{
    margin: 100px 0px;
}
.h1-h3{
    width: 100%;
}
.h1-h3 > h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}
.h1-h3 > h4{    
    text-align: center;
    margin-bottom: 50px;
    margin: 0 auto;
    
}
.mather-div-3{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.items{
    width: 30%;
    height: 300px;
    box-shadow: 0px 5px 5px #888;
    margin: 20px 0px;
    text-align: center;
    border-radius: 5px;
}
.items >img{
    padding: 10px;
}
.items > h1{
    padding: 10px;
}
.items > h3{
    padding: 10px;
}
.buttons{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons > button{
    width: 259px;
    background:#00BAFC;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px ;
    border:none;
    color: #fff;
    margin-right: 10px;
}
.buttons > button:hover{
    background: #fff;
    border: 2px solid #00BAFC;
    color: #00BAFC;
}
.buttons > button:active{
    background:#8ed7f1;
    border: none;
    color: #fff;
}
.buttons a{
    color: #00BAFC;
    margin-left: 10px;

}
.mather_div-3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin: 100px 0px;
}
.box-one{
    width: 40%;
}
.box-two{
    width: 60%;
}
.box-two > h1{
    padding: 20px;
}
.box-two > h4{
    padding: 20px;
}
.box-01{
    width: 60%
}
.box-02{
    width: 40%;
}
.box-01 > h1{
    padding: 20px;
}
.box-01 > h4{
    padding: 20px;
}
.Buyurtma_berish{
    width: 100%;
    height: 40vh;
    background:linear-gradient( #00BAFC, #01c4ff);
}
.spn{
    color: #fff;
}
.big-inp-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box{
    width: 300px;
    height: 200px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.input-box > form{
    display: flex;
    flex-direction: column;
}
